body {
   width: 100vw; 
   margin: 0;   
}

#header-article {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 40.5%;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1544383835-bda2bc66a55d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=721&q=80);
    background-size: cover;
    box-shadow: 0 1px 8px 4px black;
}

#header-article h1 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
    text-shadow: 3px 3px 4px black;
}

#article-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main {
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1515895309288-a3815ab7cf81?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: 100vw;
    background-repeat: repeat-y;
}

#search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

#search-btn {
    height: 100%;
    border: 0;
    padding: 0 .6rem;
    background: floralwhite;
    box-shadow: 3px 3px 5px black;
    outline: none;
}

#search-btn:active {
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.6);
}

#search-btn p {
    margin: 0;
}

#search-input {
    height: 100%;
    width: 50%;
    padding: 0 0 0 1rem;
    border: 0;
    align-self: center;
    background: rgba(255, 255, 255, .3);
    box-shadow: 3px 3px 5px black;
    font-size: 1.5rem;
    font-weight: 300;
    color: hotpink;
    text-shadow: 1px 1px 1px white;
    outline: none;
}

#search-input::placeholder {
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
    text-shadow: 0 0 0;
}

#per-page-wrapper {
    display: flex;
    width: 105px;
    font-family: arial;
    font-size: 0.75rem;
    margin-top: 0rem;
}

#per-page-input {
    outline: none;
}

#per-page-wrapper p {
    margin: 2px 5px 0 0; 
    color: white;
    text-shadow: 2px 2px 2px black;
}

#images-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    padding-bottom: 1rem;
}

/* THE FOLLOWING CREATED IN JAVASCRIPT */
.img-container {
    width: 25%;
    height: 0;
    position: relative;
    padding-bottom: 25%; /* For aspect-ratio trick! */
    margin: 1rem;
    border-radius: 18px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

.img-container img {
    position: absolute;    
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

#lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    padding: 4px;
    max-height: 90%;
    max-width: 90%;
    background-color: black;
    border: 2px solid white;
}


/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    #header-article h1 {
        font-size: 1rem;
    }

    p {
        font-size: 0.5rem;
    }

    #search-input {
        font-size: 1rem;
    }

    #search-input::placeholder {
        font-size: 1rem;
        font-weight: 100;
    }
    
    #images-wrapper {
        padding-top: 0.5rem;
    }
     .img-container { 
         width: 40%; 
         padding-bottom: 40%;
         margin: 0.5rem;
     }
} 

@media screen and (min-width: 481px) and (max-width: 700px) {
    #header-article h1 {
        font-size: 2rem;
    }

    #images-wrapper {
       padding-top: 0.5rem;
   }
    .img-container {
         width: 30%; 
         padding-bottom: 30%;
         margin: 0.5rem;
    }
}

@media screen and (min-width: 701px) {
    #images-wrapper {
        padding-top: 1rem;
    }
    
    .img-container {
         width: 20%; 
         padding-bottom: 20%;
         margin: 0.5rem;
    }
}